<div class="card">
  <div class="card-body">
    <h5 class="card-title">Título</h5>
    <div>{{this.singletonService.filmeDTO.title}}</div>
    <h5 class="card-title">Sequência cronológica</h5>
    <div>{{this.singletonService.filmeDTO.episode_id}}</div>
    <h5 class="card-title">Descrição</h5>
    <div>{{this.singletonService.filmeDTO.opening_crawl}}</div>
    <h5 class="card-title">Diretor</h5>
    <div>{{this.singletonService.filmeDTO.director}}</div>
    <h5 class="card-title">Produtor</h5>
    <div>{{this.singletonService.filmeDTO.producer}}</div>
    <h5 class="card-title">Data de lançamento</h5>
    <div>{{this.singletonService.filmeDTO.release_date}}</div>

    <h5 class="card-title">Personagens</h5>

    <h5 class="card-title">Planetas</h5>

    <h5 class="card-title">Naves</h5>

    <h5 class="card-title">Veículos</h5>

    <h5 class="card-title">Espécies</h5>

  </div>
</div>