<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 col-md-12 centralizar">
        <h5 class="card-title">Nome</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.name}}</div>
        <h5 class="card-title">Tempo de rotação</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.rotation_period}}</div>
        <h5 class="card-title">Período orbital</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.orbital_period}}</div>
        <h5 class="card-title">Diâmetro</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.diameter}}</div>
        <h5 class="card-title">Clima</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.climate}}</div>
        <h5 class="card-title">Gravidade</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.gravity}}</div>
        <h5 class="card-title">Terreno</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.terrain}}</div>
        <h5 class="card-title">Superfície da água</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.surface_water}}</div>        
      </div>
      <div class="col-lg-6 col-md-12 centralizar">
        <h5 class="card-title">População</h5>
        <div class="espacamento">{{this.singletonService.planetaDTO.population}}</div>
        <h5 class="card-title">Moradores</h5>
        <div *ngFor="let resident of this.singletonService.planetaDTO.residents">
          <div class="espacamento">{{resident}}</div>
        </div>
        <h5 class="card-title">Filmes</h5>
        <div *ngFor="let film of this.singletonService.planetaDTO.films">
          <div class="espacamento">{{film}}</div>
        </div>
      </div>
    </div>
  </div>
</div>