<div class="card">
  <div class="card-body">
    <h5 class="card-title">Nome</h5>
    <div>{{this.singletonService.naveDTO.name}}</div>
    <h5 class="card-title">Modelo</h5>
    <div>{{this.singletonService.naveDTO.model}}</div>
    <h5 class="card-title">Fabricante</h5>
    <div>{{this.singletonService.naveDTO.manufacturer}}</div>
    <h5 class="card-title">Preço em créditos</h5>
    <div>{{this.singletonService.naveDTO.cost_in_credits}}</div>
    <h5 class="card-title">Comprimento</h5>
    <div>{{this.singletonService.naveDTO.length}}</div>
    <h5 class="card-title">Velocidade máxima na atmosfera</h5>
    <div>{{this.singletonService.naveDTO.max_atmosphering_speed}}</div>
    <h5 class="card-title">Tripulação</h5>
    <div>{{this.singletonService.naveDTO.crew}}</div>
    <h5 class="card-title">Passageiros</h5>
    <div>{{this.singletonService.naveDTO.passengers}}</div>
    <h5 class="card-title">Capacidade de carga</h5>
    <div>{{this.singletonService.naveDTO.cargo_capacity}}</div>
    <h5 class="card-title">Consumíveis</h5>
    <div>{{this.singletonService.naveDTO.consumables}}</div>
    <h5 class="card-title">Hyperdrive rating</h5>
    <div>{{this.singletonService.naveDTO.hyperdrive_rating}}</div>
    <h5 class="card-title">MGLT</h5>
    <div>{{this.singletonService.naveDTO.MGLT}}</div>
    <h5 class="card-title">Classe</h5>
    <div>{{this.singletonService.naveDTO.starship_class}}</div>
    
    <h5 class="card-title">Pilotos</h5>

    <h5 class="card-title">Filmes</h5>
    
  </div>
</div>